<div class="h-full flex flex-col">
  <div class="flex flex-col items-center w-3/5 m-auto mt-16">
    <app-words-to-write [wordsToWrite]="wordsToWrite()"></app-words-to-write>
    <input
      #input
      [value]="textInput"
      (input)="textInputChanged($event)"
      type="text"
      class="w-3/4 max-w-[800px] h-9 text-lg mb-12 p-2 outline-none"
      [disabled]="status() !== 'running'"
    />

    @if (status() === 'waiting') {
    <button
      class="w-20 h-7 bg-blue-600 border border-solid border-black"
      [disabled]="status() !== 'waiting'"
      (click)="startGame()"
    >
      Start
    </button>
    } @if (status() === 'starting') {
    <span>{{ startDateIso() | countdown | async }}</span>
    } @else if (status() === 'running') {
    <span>{{ gameCountdownEndDateIso() | countdown | async }}</span>
    }
  </div>
  <app-progress-bar class="flex-grow" [progress]="progress()"></app-progress-bar>
</div>
